.profile-wrapper{
    width: 1100px;
    height: 583px;
    background-color: white;
    margin-left: 10px;
    border-radius: 16px;
    padding: 15px;
}
.profile-photo{ 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.profile-photo img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.profile-name{
    width: 750px;
    margin-top: 50px;
}
.profile-contact{
    width: 1000px;
    height: 200px;
    border: 2px solid #e5edf8;
    border-radius: 10px;
    margin-left: 40px;
}
.location svg{
    font-size: 35px;
}
.profile-edit-photo{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-edit-photo img{
    border-radius: 50%;

}
.profile-phone input{
    width: 323px!important;
    height: 40px!important;
}
.editProfile-form {
    height: 550px;
    overflow: auto;
}
.editProfile-form::-webkit-scrollbar {
    width: 10px;
  }
  
  .editProfile-form::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .editProfile-form::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }
  



@media (max-width: 767px) {
    .profile-wrapper{
        width: 85%;
        margin-left: 54px;
        margin-top: 4px;
        height: 99%;
        padding: 5px;
    }
    .editProfile-form{
        height: 100%;
    }
    .editProfile-form::-webkit-scrollbar {
        width: 5px;
      }
    .profile-photo{ 
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-left: 70px;
    }
    .profile-photo img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .profile-name{
        margin-top: 10px;
        width: 290px;
    }
    .profile-contact{
        margin-left: 2px;
        width: 290px;
        height: 230px;
    }
    .profile-phone input{
        width: 274px!important;
    }

}